{% extends "entity.html" %}

{% block head %}
{{ super() }}
<meta property="og:type" content="article"/>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ SITEURL }}/blog/">Blog</a></li>
<li><a href="{{ SITEURL }}/{{ entity.category.url }}">{{ entity.category.name | title }}</a></li>
<li>{{ entity.title }}</li>
{% endblock %}

{% block entity_logo scoped %}
    {% if entity.logo %}
    <img class="entity-logo" src="{{ entity.logo | thumbnail("_x360") }}" />
    {% endif %}
{% endblock %}

{% block entity_metadata %}
    {{ super() }}
    
    <li class="category">
        Category: <a href="{{ SITEURL }}/{{ entity.category.url }}">{{ entity.category.name | title }}</a>
    </li>
{% endblock %}
