{% extends "base.html" %}
{% from "teaser.html" import teaser_list_paginated with context %}
{% block title %}Blog{% endblock %}
{% block breadcrumbs %}
<li>Blog</li>
{% endblock %}
{% block content %}
<section id="content">
    {% block content_title %}
    <h2 class="page-title">Blog</h2>
    {% endblock %}

    {% block content_categories %}
    <div class="categories">
        <h3 class="categories-title">Blog Categories</h3>
        <ul>
            {% for cat, articles in article.categories %}
            <li {{ "class=\"active\"" if category and cat.name == category.name }}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name | title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

{{ teaser_list_paginated(entities_page, entity_type) }}

{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
