{% extends "page.html" %}
{% block content %}
<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.2684" type="text/javascript"></script>
<script type="text/javascript"> JotForm.init(function(){ setTimeout(function() { $('input_16').hint('ex: myname@example.com'); }, 20); /*INIT-END*/});</script>

<form class="jotform-form form-horizontal" role="form" action="http://submit.jotformeu.com/submit/42315442700342/" method="post" name="form_42315442700342" id="42315442700342" accept-charset="utf-8">
  <input type="hidden" name="formID" value="42315442700342" />
  <div class="form-group">
        <label class="form-sub-label col-md-2 control-label" for="first_15" id="sublabel_first"> 
            First Name 
            <span class="form-required">
                *
            </span>
        </label>
        <div class="col-md-4">
            <input class="form-control form-textbox validate[required]" type="text" size="10" name="q15_yourName[first]" id="first_15" />
        </div>
        <label class="form-sub-label col-md-2 control-label" for="last_15" id="sublabel_last"> 
            Last Name 
            <span class="form-required">
                *
            </span>
        </label>
        <div class="col-md-4">
            <input class="form-control col-md-4 form-textbox validate[required]" type="text" size="15" name="q15_yourName[last]" id="last_15" />
        </div>
  </div>
  <div class="form-group">
        <label class="form-label col-md-2 form-label-top form-label-auto control-label" id="label_16" for="input_16">
          Your Email
          <span class="form-required">
            *
          </span>
        </label>
        <div class="form-input-wide col-md-10">
          <input type="email" class="form-control form-textbox validate[required, Email]" id="input_16" name="q16_yourEmail16" size="32" value="" />
        </div>
  </div>
  <div class="form-group">
        <label class="form-label col-md-2 form-label-top form-label-auto control-label" id="label_17" for="input_17">
          Your Message
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_17" class="col-md-10 form-input-wide">
          <textarea id="input_17" class="form-control form-textarea validate[required]" name="q17_yourMessage" cols="60" rows="9"></textarea>
        </div>
 </div>
 <div class="form-group">
        <label class="form-label col-md-2 form-label-top form-label-auto control-label" id="label_19" for="input_19">
          Enter the message as it's shown
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_19" class="col-md-10 form-input-wide">
          <div id="recaptcha_input_19">
          </div>
          <script type="text/javascript">
          var rc_script_tag = document.createElement('script'),
  rc_init_func = function()
  {
    Recaptcha.create("6Ld9UAgAAAAAAMon8zjt30tEZiGQZ4IIuWXLt1ky", "recaptcha_input_19", {
      theme: "clean",
      callback: function()
      {
        JotForm.validator()
      }
    });
  }
rc_script_tag.src = "https://www.google.com/recaptcha/api/js/recaptcha_ajax.js";
rc_script_tag.type = 'text/javascript';
rc_script_tag.onload = function()
{
  rc_init_func.call();
};
rc_script_tag.onreadystatechange = function()
{
  if (rc_script_tag.readyState == 'loaded' || rc_script_tag.readyState == 'complete')
  {
    rc_init_func.call();
  }
};
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(rc_script_tag);
          </script>
        </div>
  </div>
  <div class="form-group submit">
        <div id="cid_14" class="col-md-12 form-input-wide">
          <div style="text-align:center" class="form-buttons-wrapper">
            <button id="input_14" type="submit" class="btn btn-default form-submit-button">
              Submit
            </button>
          </div>
        </div>
  </div>
  <div style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
  </div>
  <input type="hidden" id="simple_spc" name="simple_spc" value="42315442700342" />
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "42315442700342-42315442700342";
  </script>
</form>
{% endblock content %}
