{% extends "base.html" %}
{% from "colorbox.html" import colorbox with context %}

{% block head %}
{{ super() }}
{% if entity.description %}
<meta name="description" content="{{ entity.description | striptags }}" />
<meta property="og:description" content="{{ entity.description | striptags }}" />
{% endif %}

{% if entity.logo %}
    <meta property="og:image" content="{{ entity.logo }}"/>
{% endif %}
{% endblock %}

{% block title %}{{ entity.title }}{%endblock%}

{% block content %}
<article id="{{ entity.slug }}" class="full {{ entity.type | lower }}-full">
    <header>
        {% block entity_header scoped %}
        <h2 class="entity-title">
            <a href="{{ SITEURL }}/{{ entity.url }}" rel="bookmark"
                title="Permalink to {{ entity.title|striptags }}">{{ entity.title }}</a>
        </h2>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(entity) }}
        {% endblock %}
    </header>
    <div class="entity-body">
        <footer class="entity-info">
            <ul>
                {% block entity_metadata scoped %}
                <li class="published">
                <time title="{{ entity.date.isoformat() }}" datetime="{{ entity.date.isoformat() }}">Submitted on {{ entity.locale_date }}</time>
                </li>
                {% if entity.modified %}
                <li class="modified">
                <time title="{{ entity.modified.isoformat() }}" datetime="{{ entity.modified.isoformat() }}">Modified on {{ entity.locale_modified }}</time>
                </li>
                {% endif %}
                {% endblock %}
            </ul>
        </footer><!-- /.post-info -->
        {% block entity_logo scoped %}
        {% if entity.logo %}
        <img class="entity-logo" alt="{{ entity.title }}" src="{{ entity.logo | thumbnail("200x200") }}" />
        {% endif %}
        {% endblock %}
        {% block entity_content scoped %}
        <div class="entity-content">
            {{ entity.content }}
        </div><!-- /.entry-content -->
        {% endblock %}
        {% block entity_after_content scoped %}
        {% if entity.gallery %}
        <div class="entity-gallery">
            <h3>Gallery:</h3>
            <ul>
                {% for image in entity.gallery %}
                <li>{{ colorbox(image.url, image.description) }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if entity.attachments %}
        <div class="entity-attachments">
            <h3>Attachments:</h3>
            <ul>
                {% for attachment in entity.attachments %}
                <li><a href="{{ attachment.url }}">{{ attachment.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endblock %}
    </div>
    <div class="addinto_sharebox addinto_sharebox_default entity-share">
        <a class="addinto_button_email"></a>
        <a class="addinto_button_print"></a>
        <a class="addinto_button_bookmark"></a>
        <a class="addinto_button_facebook"></a>
        <a class="addinto_button_twitter"></a>
        <a class="addinto_button_google_plus"></a>
        <a class="addinto_button_separator"></a>
        <a href="http://www.addinto.com/ai?type=bkmk" class="addinto_button_more_dd"></a>
    </div>
    <script type="text/javascript">var ai2_bkmks = "Email,Bookmark,Facebook,Google Plus,LinkedIn,Twitter";</script><script type="text/javascript" src="http://static.addinto.com/ai/ai2_bkmk.js"></script>
    {% if not entity.disable_comments %}
    <div id="disqus_thread" class="entity-comments"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{ DISQUS_SITENAME }}'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
    
</article>
{% endblock %}
