{% extends "page.html" %}

{% block head %}
{{ super() }}
<meta name="description" content="{{ entity.title }} Error Page" />
<meta property="og:description" content="{{ entity.title }} Error Page" />
{% endblock %}

{% block title %}{{ entity.title }} Error{%endblock%}

{% block breadcrumbs %}
<li>{{ entity.title }} Error</li>
{% endblock %}

{% block content %}
<div class="http-error">
    <h1 class="title">{{ entity.title }}</h1>
    <div class="content">{{ entity.content }}</div>
</div>
{% endblock content %}
