{% extends "base.html" %}
{% from "teaser.html" import teaser_list_paginated with context %}
{% block title %}Projects{% endblock %}
{% block breadcrumbs %}
<li>Projects</li>
{% endblock %}
{% block content %}
<section id="content">
    {% block content_title %}
    <h2 class="page-title">Projects</h2>
    {% endblock %}

    {% block content_categories %}
    <div class="categories">
        <h3 class="categories-title">Project Categories</h3>
        <ul>
            {% for cat, projects in project.categories %}
            <li {{ "class=\"active\"" if category and cat.name == category.name }}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name | title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

    {{ teaser_list_paginated(entities_page, entity_type, show_date=False) }}
    {% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
