{% extends "entity.html" %}

{% block breadcrumbs %}
<li><a href="{{ SITEURL }}/blog/">Blog</a></li>
<li><a href="{{ SITEURL }}/{{ entity.category.url }}">{{ entity.category.name | title }}</a></li>
<li>{{ entity.title }}</li>
{% endblock %}

{% block entity_metadata %}
    <li class="category">
        Category: <a href="{{ SITEURL }}/{{ entity.category.url }}">{{ entity.category.name | title }}</a>
    </li>

    {% if entity.project_authors %}
    <li class="project-authors">
        Authors: {{ entity.project_authors }}
    </li>
    {% endif %}

    {% if entity.project_start %}
    <li class="project-start">
        Start date: {{ entity.project_start }}
    </li>
    {% endif %}

    {% if entity.project_version %}
    <li class="project-version">
        Version: {{ entity.project_version }}
    </li>
    {% endif %}

    {% if entity.project_status %}
    <li class="project-status">
        Status: {{ entity.project_status }}
    </li>
    {% endif %}
{% endblock %}
