{% extends "base.html" %}
{% block title %}Site search{% endblock %}
{% block breadcrumbs %}
<li>Search</li>
{% endblock %}
{% block content %}
<script>
(function() {
    var cx = '005077712922441301818:wtsavcu_fhc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
})();
</script>
<div class="gcse-searchresults-only" data-resultsUrl="{{ SITEURL }}/search" data-queryParameterName="search"></div>
{% endblock content %}
